#interest-area {
    padding-top: 0px;
    padding-bottom: 20px;
}

#interest-area .section-title {
    margin-bottom: 50px;
    text-align: left;
}

#interest-area .section-title h2 {
    font-size: 35px;
}

.interest-item-content .svg {
    width: 60px;
    height: 60px;
}

.interest-item-content p {
    color: #74bee7;
    font-size: 15px;
    opacity: 0;
    padding-top: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    visibility: hidden;
}

.interest-item-content:hover p {
    opacity: 1;
    padding-top: 10px;
    visibility: visible;
}

.interests-content .col-md-2.col-sm-4.col-xs-6:nth-child(5) .interest-item,
.interests-content .col-md-2.col-sm-4.col-xs-6:nth-child(6) .interest-item {
    margin-bottom: 0;
}
